<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>计算机集成管理系统</title>
</head>
<body>
    <div class="wrap" id="App"></div>
    <script src="//cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/react-router/4.0.0/react-router.min.js"></script>

    <script type="text/javascript" src="https://dn-bughd-web.qbox.me/bughd.min.js" crossOrigin="anonymous"></script>
    <script type="text/javascript">
      window.bughd = window.bughd || function(){};
      bughd("create",{key:"1d1e0ea5d0acd87ddd895b0f4cb1e5d6"})
    </script>
</body>
</html>
