.App {
  text-align: center;
}

.App-logo {
    width: 80px;
    height: 80px;
    animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrap {
    display: flex;
    height: 100%;
}

.simple-warp {
    display: flex;
    width: 100%;
}

.ant-layout-sider .logo {
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout-sider .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.ant-layout-sider .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

.ant-layout-header {
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #454545;
}

.ant-layout-breadcrumb {
    margin: 12px 0;
}
