
@import './animation.scss';

.App {
  text-align: center;
}

.App-logo {
    width: 80px;
    height: 80px;
    animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrap {
    display: flex;
    height: 100%;
}

.simple-warp {
    display: flex;
    width: 100%;
}

.ant-layout-sider .logo {
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout-sider .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.ant-layout-sider .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

.ant-layout-header {
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #454545;
}

.ant-layout-breadcrumb {
    margin: 12px 0;
}

/* icon */
.iconbox {
    position: relative;
    width: 88px;
    height: 88px;
    border-radius: 50px;
    border: 4px solid #6c3;
    margin: 15px auto;
}
.icon-lose {border-color: #fc454c;}
.icon-success .line-short {
    width: 25px;
    height: 5px;
    position: absolute;
    left: 14px;
    top: 46px;
    border-radius: 4px;
    background-color: #6c3;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: success-short-Animation .65s;
    -moz-animation: success-short-Animation .65s;
    animation: success-short-Animation .65s;
}
.icon-success .line-long {
    width: 45px;
    height: 5px;
    position: absolute;
    right: 8px;
    top: 38px;
    border-radius: 4px;
    background-color: #6c3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: success-long-Animation .65s;
    -moz-animation: success-long-Animation .65s;
    animation: success-long-Animation .65s;
}
.losebox {
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto;
    text-align: center;
}
.losebox {
    -webkit-animation: lose-Animation .5s;
    -moz-animation: lose-Animation .5s;
    animation: lose-Animation .5s;
}
.icon-lose .line-left, .icon-lose .line-right {
    position: absolute;
    left: 17px;
    top: 37px;
    width: 47px;
    height: 5px;
    border-radius: 4px;
    background: #fc454c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-lose .line-right {
    right: 11px;
    top: 37px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
