table { border-spacing:0; border-collapse:collapse;}

.wrap {
    display: flex;
    height: 100%;
}

.simple-wrap {
    display: flex;
    width: 100%;
}

/* float and clearfix */
.flt {
    float: left;
}

.frt {
    float: right;
}
.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.ant-layout-sider .logo {
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout-sider .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.ant-layout-sider .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

.ant-layout-header {
    padding: 0 20px !important;
    font-size: 16px;
    color: #fff;
    background: #454545 !important;
}

.ant-layout-breadcrumb {
    margin: 12px 0;
}

.index-content {
    .welcome-text {
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
    }
}

.login-box {
    .logout-btn {
        padding: 5px 15px;
        font-size: 14px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        &:hover {
            color: #108ee9;
            border-color: #108ee9;
        }
    }
}

/* text style */
.text-blue,
.text-normal, {
    color: #108ee9;
}

.text-success {
    color: #6c0;
}

.text-red,
.text-error {
    color: #f00;
}

.text-warn {
    color: #ffbf00;
}

.text-center {
    text-align: center;
}
